h1{
    text-align: center;
    color: white;

}

body{
    background-color: black;
    height: 100vh

}

.pole{
    height: 40vh;
    width:5px;
    background-color: white;
  

}

.p1{


}

.p2{

    

}


main{
    margin-top: 60px;
    margin-left: 20px;
    border-radius: 20px;

    border-color: red; 

}

main section{
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.ball{
    width:20px;
    height: 20px;

    border-radius: 50%;
    border: 1px solid aqua
}


.start{
    width: 90vw;
    /* border: 1px solid aqua; */
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 30px;




}


.start_btn{
    height: 30px;
    width: 60px;
    border: 1px solid aqua;
    border-radius: 20px;
    color: aqua; 
    
}
.stop_btn{
    height: 30px;
    width: 60px;
    border: 1px solid red;
    border-radius: 20px;
    color: red;

}
.restart_btn{
    height: 30px;
    width: 60px;
    border: 1px solid rgb(0,255,0);
    border-radius: 20px;
    color: rgba(0,255,0);

}

.start_btn, .stop_btn, .restart_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}